<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestMyAmaysim" verbose="1">

	<test name="MyAmaysim" preserve-order="false">
		<classes>
			<class name="testCases.SettingsPageTestCases">
			<methods>
				<include name="editSimName" />
				<include name="cancelEditSimName" />
			</methods>
			</class>
		</classes>
	</test>
</suite>
